---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Pagination from '../components/Pagination.astro'
import type { GetStaticPathsOptions } from 'astro'

interface Frontmatter {
  title: string
  author: string
  authorImg: string
  slug: string
  categories: string[]
  createdAt: string
  editedAt: string
  thumbnail: string
  description: string
}

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = (await Astro.glob<Frontmatter>('./posts/*.md')).sort(
    (a: any, b: any) =>
      new Date(b.frontmatter.createdAt).valueOf() -
      new Date(a.frontmatter.createdAt).valueOf()
  )

  // console.log(posts)
  // Generate pages from our array of astronauts, with 2 to a page

  const pages = paginate(posts, { pageSize: 6 })

  return pages.map((page, idx: number) => ({
    ...page,
    params: {
      page: idx === 0 ? undefined : `pages/${idx + 1}`,
    },
  }))
}

const { page } = Astro.props
---

<Layout title="Qu1etboy Blog">
  <section class="px-5">
    <h3
      class="text-center bg-slate-300/50 dark:bg-neutral-700/30 rounded-lg p-3"
    >
      Blog about sharing the things I learned, like a note for myself. and also
      about my life and other stuff
    </h3>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-3 mt-5">
      {
        page.data.map((post: any) => (
          <Card
            title={post.frontmatter.title}
            body=""
            href={`/posts/${post.frontmatter.slug}`}
            thumbnail={post.frontmatter.thumbnail}
            categories={post.frontmatter.categories}
          />
        ))
      }
    </ul>

    <Pagination numOfPages={page.lastPage} currPage={page.currentPage} />
  </section>
</Layout>
