---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Pagination from '../components/Pagination.astro'
import type { GetStaticPathsOptions } from 'astro'

interface Frontmatter {
  title: string
  author: string
  authorImg: string
  slug: string
  category: string
  createdAt: string
  editedAt: string
  thumbnail: string
  description: string
}

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = await Astro.glob<Frontmatter>('./posts/*.md')
  // Generate pages from our array of astronauts, with 2 to a page
  const pages = paginate(posts, { pageSize: 2 })

  return pages.map((page, idx: number) => ({
    ...page,
    params: {
      page: idx === 0 ? undefined : `pages/${idx + 1}`,
    },
  }))
}

const { page } = Astro.props
---

<Layout title="Qu1etboy blog">
  <section class="px-5">
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-3 mt-5">
      <!--List the array of astronaut info-->
      {
        page.data.map((post: any) => (
          <Card
            title={post.frontmatter.title}
            body=""
            href={`/posts/${post.frontmatter.slug}`}
            thumbnail={post.frontmatter.thumbnail}
          />
        ))
      }
    </ul>

    <Pagination numOfPages={page.lastPage} currPage={page.currentPage} />
  </section>
</Layout>
