---
import Navbar from '../components/Navbar.astro'
import BaseHead from '../components/BaseHead.astro'
import '../styles/global.css'
import Footer from '../components/Footer.astro'

const { frontmatter } = Astro.props

function formatDate(date: string) {
  const f = new Intl.DateTimeFormat('en-uk', {
    dateStyle: 'medium',
  })

  return f.format(new Date(date))
}
---

<!DOCTYPE html>
<html lang="th">
  <head>
    <BaseHead
      title={frontmatter.title}
      description={frontmatter.description}
      image={frontmatter.thumbnail}
    />
  </head>
  <body
    class="dark:bg-neutral-900 bg-neutral-100 text-gray-800 dark:text-gray-100"
  >
    <main class="container max-w-3xl mx-auto">
      <Navbar />

      <section class="px-5">
        <header class="mb-10">
          <img
            src={frontmatter.thumbnail}
            alt="thumbnail"
            class="rounded-md mb-5"
          />
          <h1 class="text-4xl font-bold">
            {frontmatter.title}
          </h1>
          <div class="flex gap-2 items-center mt-3">
            <div class="rounded-full w-8 h-8 overflow-hidden">
              <img src="/images/non_profile.jpg" alt="profile_image" />
            </div>
            <p>{frontmatter.author}</p>
            <span class="text-sm">{formatDate(frontmatter.createdAt)}</span>
          </div>
        </header>
        <article
          class="prose dark:prose-invert max-w-none prose-img:rounded-md prose-a:text-blue-500"
        >
          <slot />
        </article>
        <!-- <p class="mt-8">
          If you found anything wrong with this post you can
          <a
            class="text-blue-500"
            href={`https://github.com/Qu1etboy/qu1etboy-blog/edit/main/src/pages/posts/${frontmatter.slug}.md`}
            >Edit this page on GitHub</a
          >
        </p> -->
      </section>

      <Footer />
    </main>
  </body>
</html>
