---
import Navbar from '../components/Navbar.astro'
import '../styles/global.css'

const { frontmatter } = Astro.props
---

<!DOCTYPE html>
<html lang="th">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="robots" content="follow, index" />
    <meta name="description" content={frontmatter.description} />
    <meta name="generator" content={Astro.generator} />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="180x180"
      href="https://qu1etboy.vercel.app/static/images/qu1etboy.jpeg"
    />

    <meta name="og:title" content={frontmatter.title} />
    <meta name="og:description" content={frontmatter.description} />
    <meta name="og:image" content={frontmatter.thumbnail} />
    <meta name="og:site_name" content="Qu1etboy Blog" />
    <meta name="og:type" content="website" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={frontmatter.title} />
    <meta name="twitter:description" content={frontmatter.description} />
    <meta name="twitter:site" content="@WeerawongNon" />
    <meta name="twitter:image" content={frontmatter.thumbnail} />

    <title>{frontmatter.title}</title>
  </head>
  <body class="dark:bg-neutral-900 bg-neutral-100">
    <main class="container max-w-3xl mx-auto">
      <Navbar />

      <section class="px-5">
        <header class="mb-10">
          <img
            src={frontmatter.thumbnail}
            alt="thumbnail"
            class="rounded-md mb-5"
          />
          <h1 class="text-4xl font-bold">{frontmatter.title}</h1>
          <div class="flex gap-2 items-center mt-3">
            <div class="rounded-full w-8 h-8 overflow-hidden">
              <img src="/images/non_profile.jpg" alt="profile_image" />
            </div>
            <p>{frontmatter.author}</p>
            <span class="text-sm text-gray-800 dark:text-gray-200"
              >{frontmatter.createdAt}</span
            >
          </div>
        </header>

        <article
          class="prose dark:prose-invert max-w-none prose-img:rounded-md prose-a:text-blue-500"
        >
          <slot />
        </article>
      </section>

      <footer
        class="text-center text-sm text-gray-800 dark:text-gray-200 my-12"
      >
        © 2022 <a href="https://github.com/qu1etboy">Qu1etboy</a> All rights reserved.
      </footer>
    </main>
  </body>
</html>
